<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<% @restaurant.review.each do |review| %>
  <p>
    <%= review.content %>
    <%= link_to "Delete Review", review_path(review), method: :delete, data: { confirm: "Sure?"} %>
    <hr>
  </p>
<% end %>




<%= link_to 'Leave Review', new_restaurant_review_path(@restaurant) %> |
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>


